.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #5894ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 30px;
  width: auto;
  margin-bottom: 2px;
}

.logo-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.logo-text {
  font-size: 9px;
  font-weight: bold;
  color: white;
}

.logo-subtext {
  font-size: 6px;
  font-weight: bold;
  color: white;
  margin-top: 2px;
}

.logo1 {
  width: 50px;       /* Adjust width as needed */
  height: auto;       /* Keeps the aspect ratio */
  object-fit: contain; /* Ensures image scales nicely without distortion */
  border-radius: 2px;
}
  .logo-container-horizontal {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

.logo-title {
  font-size: 14px;
  font-weight: 600;
  color: black;
  white-space: nowrap;
}

/* html, body {
  overflow-x: hidden;
  overflow-y: hidden;

} */
